body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%;}

.wrapper {
    font: 12px/20px 'Helvetica Neue',Arial,Helvetica,sans-serif;
    display: grid;
    grid-template-columns: 70px 30px 100px 50px;
    padding: 10px;
    z-index: 1000;
}

.wrapper .audio-feature-selector {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    grid-column: 1 / 5;
    overflow: auto;
    grid-row: 1;
    z-index: 1000;
}

.audio-feature-selector fieldset {
    /* display: flex; */
    justify-content: space-between;
    border: none;
}

.audio-feature-selector label {
    font-weight: bold;
    margin-right: 10px;
}

.audio-feature-selector .select-fieldset {
    display: block;
}

.audio-feature-selector .select-fieldset label {
    display: block;
    margin-bottom: 5px;
}

.audio-feature-selector .select-fieldset select {
    width: 100%;
}

.wrapper .feature-description {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    grid-column: 1 / 5;
    overflow: auto;
    z-index: 1000;
    max-height:150px;
    grid-row:2
}

.wrapper .ticks{
    grid-column: 1;
    text-align: center;
    margin-top: 1em;
    /* grid-row: 3; */
    z-index: 1000;
}

.wrapper .toptick{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    /* grid-row: 3; */
    z-index: 1000;
}

.wrapper .bottomtick{
    grid-column: 2;
    grid-row: 11;
    text-align: center;
    /* grid-row: 3; */
    z-index: 1000;
}

.wrapper .colorbar {
    grid-column: 2;
    grid-row: 4 / 11;
    z-index: 1000;
    height: 300px;
    background: rgb(255,255,178);
    background: linear-gradient(0deg, rgba(255,255,178,1) 0%, rgba(253,141,60,1) 50%, rgba(177,0,38,1) 100%);
}

.wrapper .histogram {
    grid-column: 3;
    grid-row: 4 / 11;
    z-index: 1000;
}


#features {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
    }

.cityInfo {
    position: absolute;
    top: 0;
    right: 0; 
    padding: 15px;
    width: 250px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.cityInfo .colorbox {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;
    /* left: 5px;
    top: 5px; */
    border: 2px solid black;
}

.cityInfo h4 {
    margin: 0 0 5px;
    color: #777;
    text-align: center;
    font-size: 16px;
}

.cityInfo h3 {
    color:rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 16px
}

.legend {
    line-height: 18px;
    color: #555;
    background-color: #fff;
    padding: 10px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}